[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
pillow = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
